doctype html
html
    head
        title Sass 教程
        link(href="css/style.css", rel="stylesheet")
        
    body
        .header
            ul
                li: a(href="#", title="title").menu 主页
                li: a(href="#", title="title").menu 视频 
                li: a(href="#", title="title").menu 直播 
                li: a(href="#", title="title").menu 关于 
        .main
            h1 Sass 教程
        